In [40]:
import pandas as pd
import numpy as np

In [41]:
#https://www.kaggle.com/datasets/tamber/steam-video-games
df_users = pd.read_csv("steam-200k.csv")
df_users.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [42]:
df_users = df_users.rename(columns={'151603712': 'id', 'The Elder Scrolls V Skyrim': 'name'})
# only games played
df_users = df_users[~df_users['purchase'].isin(['purchase'])]
# remove last three columns
df_users = df_users.drop('purchase', axis=1)
df_users = df_users.drop('1.0', axis=1)
df_users = df_users.drop('0', axis=1)
df_users.head()

          id                        name
0  151603712  The Elder Scrolls V Skyrim
2  151603712                   Fallout 4
4  151603712                       Spore
6  151603712           Fallout New Vegas
8  151603712               Left 4 Dead 2

In [49]:
users_new = dict()
count_games = dict()

In [50]:
set_of_ids = set()
for i, row in df_users.iterrows():
    id = row['id']
    name = row['name']
    if id in set_of_ids:
        users_new[id] = users_new[id] + "@@@" + name
        count_games[id] = count_games[id] + 1
    else:
        set_of_ids.add(id)
        users_new[id] = name
        count_games[id] = 1

del_users = []
for user in users_new:
    if count_games[user] < 5:
        del_users.append(user)

for user in del_users:
    del users_new[user]

df = pd.DataFrame.from_dict(users_new, orient='index')
df.head()

                                                           0
151603712  The Elder Scrolls V Skyrim@@@Fallout 4@@@Spore...
59945701   Ultra Street Fighter IV@@@FINAL FANTASY XIII@@...
53875128   Grand Theft Auto V@@@Insurgency@@@Left 4 Dead ...
26122540   Call of Duty Modern Warfare 2 - Multiplayer@@@...
126340495  Dota 2@@@Counter-Strike Global Offensive@@@Cou...

In [51]:
df.to_csv('user_games.csv')